:root{

  --primary-color:#1B1D21;
  --secondary-color:#027a89;
  --complentary-color:#d4d4d4;
  --aux-color:#fff;
  --primary-font:'Montserrat', sans-serif;


}


.navbar-brand{

  font-family: var(--primary-font);
}

.nav-link{
  color: var(--primary-color)!important;
  transition: all ease-in-out 0.3s;
}

.nav-link:hover{
  color: var(--secondary-color)!important;
  transition: all ease-in-out 0.3s;
}



.c-nav{
  display: contents;
}



.navbar-brand img{

  width: 100px;
}

/*----hero---*/

.hero {

  position: relative;
  font-size: 12px;
}

.hero::after{
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  z-index: 2;
  height: 100%;
  left: 0;
  opacity: 0.5;
}



.hero .hero__content{

  position: absolute;
  z-index: 3;
  height:auto;
  width: 100%;
  top: 10%;
  left: 0;
  color: var(--aux-color);
  margin: 0 10px;

}

.hero .hero__content img{

  width: 210px;

}



.hero .hero__content h1{

 font-size: 18px;
 text-transform: uppercase;

}

.hero .hero__content h1 i{
  font-style: normal;
   letter-spacing:0.11em;

 }

.booking{
 
  
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
 
}

.booking .container{
 
   position: absolute;
   top: -100%;
   z-index: 10;
   background: var(--aux-color);
   padding: 20px 20px;
   width: 90%;
   box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
   -webkit-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
   -moz-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
}


/*---buttons--*/
.c-btn--primary{

  color: var(--aux-color);
  font-family: var(--primary-font);
  background: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
}

.c-btn--primary:hover{
  transition: all ease-in-out 0.3s;
}

.w-carrousel{
  margin-top: 350px;
}

.swiper-button-prev::after,.swiper-button-next::after{

  content: ""!important;
}
.material-symbols-outlined{
  position: relative;
  color: var(--primary-color);
}

.material-symbols-outlined::before{
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background:var(--complentary-color);
  z-index: -1;
  border-radius: 50%;
  left: -30%;
  top: -30%;
  opacity: 0.8;
  
}

/*--rooms section---*/

.w-rooms{
  font-size: 16px;
}

.w-rooms h1{
  font-family: var(--primary-font);
}

.w-rooms p{

  font-family: var(--primary-font);
}




@media (min-width:300px) {

  .navbar-brand img{

    width: 100%;
  }

  .hero .hero__content h1{

    font-size: 22px;
   
   }

   .hero .hero__content img{

    width: 250px;
  
  }

  .hero .hero__content{

  
    top: 20%;
   
  }
   
  
}

@media (min-width:400px) {



  .hero .hero__content h1{

    font-size: 24px;
   
   }

   

   .hero .hero__content img{

    width:275px;
  
  }

  .hero .hero__content{
  
    top: 30%;
   
  }
   
  
}


@media (min-width:576px) {

  .hero .hero__content{
  
    top: 40%;
   
  }

  .hero .hero__content h1{

    font-size: 30px;
   
   }



   .hero .hero__content img{

    width: 345px;
  
  }

  

  
}

@media (min-width:768px) {


  .hero .hero__content{
  
    top: 45%;
   
  }
  

  .c-nav{
    display: flex;
    padding: 0;
  }

  .navbar-nav{

    display: flex;
    align-items: center;
  
  
  }

  .w-carrousel{
    font-size: 18px;
  }

  



 
  
}


@media (min-width:992px) {


  .hero .hero__content{
  
    top: 50%;
   
  }


  .hero .hero__content h1{

    font-size: 40px;
   
   }



   .hero .hero__content img{

    width: 460px;
  
  }


  .w-carrousel{
    font-size: 21px;
  }

  


  
}

@media (min-width:1200px) {

  .booking__options{
    display: flex;
    align-items:end;
    justify-content: space-between;
  }


  .hero .hero__content h1{

    font-size: 50px;
   
   }



   .hero .hero__content img{

    width: 580px;
  
  }

  .w-carrousel{
    margin-top: 100px;
  }
  

  
  
}

@media (min-width:1400px) {

  .booking .container{
 
   
    top: -300%;
    
  
 }
 


  
}