:root{

  --primary-color:#1B1D21;
  --secondary-color:#027a89;
  --complentary-color:#d4d4d4;
  --aux-color:#fff;
  --info-color:#272727;
  --primary-font:'Montserrat', sans-serif;
  


}

.p{
  font-family: var(--primary-font);
}

.h1,h2,h3,h4,h5{
  font-weight: bolder;
}



.navbar-brand{

  font-family: var(--primary-font);
}

.nav-link{
  color: var(--primary-color)!important;
  transition: all ease-in-out 0.3s;
}

.nav-link:hover{
  color: var(--secondary-color)!important;
  transition: all ease-in-out 0.3s;
}



.c-nav{
  display: contents;
}



.navbar-brand img{

  width: 100px;
}

/*----hero---*/

.hero {

  position: relative;
  font-size: 12px;
}

.hero::after{
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  z-index: 2;
  height: 100%;
  left: 0;
  opacity: 0.5;
}



.hero .hero__content{

  position: absolute;
  z-index: 3;
  height:auto;
  width: 100%;
  top: 10%;
  left: 0;
  color: var(--aux-color);
  margin: 0 10px;

}

.hero .hero__content img{

  width: 210px;

}



.hero .hero__content h1{

 font-size: 18px;
 text-transform: uppercase;

}

.hero .hero__content h1 i{
  font-style: normal;
   letter-spacing:0.11em;

 }


 

.booking{
 
  
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  
 
}

.booking .container{
 
   position: absolute;
   top: -100%;
   z-index: 10;
   background: var(--aux-color);
   padding: 20px 20px;
   width: 90%;
   box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
   -webkit-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
   -moz-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
}


/*---buttons--*/
.c-btn--primary{

  color: var(--aux-color);
  font-family: var(--primary-font);
  background: var(--secondary-color);
  font-weight:400;
  border: none;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
}

.c-btn--primary:hover{
  transition: all ease-in-out 0.3s;
}


.c-btn--secondary{

  color: var(--aux-color);
  font-family: var(--primary-font);
  background: var(--info-color);
  border: none;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  font-weight: bolder;
}

.c-btn--secondary:hover{
  transition: all ease-in-out 0.3s;
}

.w-carrousel{
  margin-top: 350px;
}

.swiper-button-prev::after,.swiper-button-next::after{

  content: ""!important;
}
.material-symbols-outlined{
  position: relative;
  color: var(--primary-color);
}

.swiper .material-symbols-outlined::before{
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background:var(--complentary-color);
  z-index: -1;
  border-radius: 50%;
  left: -30%;
  top: -30%;
  opacity: 0.8;
  
}

/*--rooms section---*/

.w-rooms{
  font-size: 16px;
}

.w-rooms h1{
  font-family: var(--primary-font);
}

.w-rooms p{

  font-family: var(--primary-font);
}


.form-group{

  position:relative;
}

.form-group .input{
  padding-left: 30px;
}


.form-group .icon{
  position: absolute;
  top: 50%;
  left: 10px;
  color: var(--complentary-color);
}

.dropdown-toggle{
  text-align: start;
  display: flex;
  align-items: center;
}

.dropdown-toggle span{
  color: var(--complentary-color);
}

.adults{
  position: relative;
}

.adults::after{

  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  z-index: 10;
  top:0 ;
}

.c-card-left,.c-card-right{

  position: relative;
  margin-bottom: 250px;
  display: flex;
  justify-content: center;
}

.c-card-left .card--content{
 
  position: absolute;
  top: 90%;
  background: var(--aux-color);
  border-radius: 10px;
  padding: 10px 10px;
 box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
 -webkit-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
 -moz-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
 width: 80%;

}

.c-card-right .card--content{
   
  width: 80%;
  position: absolute;
  top: 90%;
  background: var(--aux-color);
  border-radius: 10px;
  padding: 10px 10px;
 box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
 -webkit-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);
 -moz-box-shadow: 10px 10px 61px -6px rgba(0,0,0,0.31);

}

footer{
  background-color:#fafafa;
}



@media (min-width:300px) {

  .navbar-brand img{

    width: 100%;
  }

  .hero .hero__content h1{

    font-size: 22px;
   
   }

   .hero .hero__content img{

    width: 250px;
  
  }

  .hero .hero__content{

  
    top: 20%;
   
  }
   
  
}

@media (min-width:400px) {



  .hero .hero__content h1{

    font-size: 24px;
   
   }

   

   .hero .hero__content img{

    width:275px;
  
  }

  .hero .hero__content{
  
    top: 30%;
   
  }
   
  
}


@media (min-width:576px) {

  .hero .hero__content{
  
    top: 40%;
   
  }

  .hero .hero__content h1{

    font-size: 30px;
   
   }



   .hero .hero__content img{

    width: 345px;
  
  }

  

  
}

@media (min-width:768px) {


  .hero .hero__content{
  
    top: 45%;
   
  }
  

  .c-nav{
    display: flex;
    padding: 0;
  }

  .navbar-nav{

    display: flex;
    align-items: center;
  
  
  }

  .w-carrousel, .w-rooms{
    font-size: 17px;
  }

  



 
  
}


@media (min-width:992px) {


  .hero .hero__content{
  
    top: 50%;
   
  }


  .hero .hero__content h1{

    font-size: 40px;
   
   }



   .hero .hero__content img{

    width: 460px;
  
  }


  .w-carrousel,.w-rooms{
    font-size: 21px;
  }






  

  
}

@media (min-width:1200px) {

  

  .hero .hero__content h1{

    font-size: 50px;
   
   }


   .hero .hero__content img{

    width: 580px;
  
  }

  .w-carrousel{
    margin-top: 100px;
  }

  .w-carrousel p{
    line-height: 1.8;
  }


  


  
  
}

@media (min-width:1400px) {

  .booking__options{
    display: flex;
    align-items:end;
    justify-content: space-between;
  }

 

  .booking .container{
 
   
    top: -300%;
    
  
 }

 .c-card-left .card--content{

  left: 10%;
  width: auto;
  padding: 10px 30px;
 
 }
 
 .c-card-right .card--content{
    right: 10%;
    width: auto;
    padding: 10px 30px;
 
 }
  
 


  
}